<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sutom Solver</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/materialize.min.css') }}" type="text/css" rel="stylesheet"
          media="screen,projection"/>

</head>

<body>
<!--NAVIGATION BAR-->
<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">Sutom Solver</a>
        <!--<ul class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
        </ul>-->
        <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <h4 class="header center blue-grey-text">Bloqué dans ton Sutom du jour ?</br></h4>

    <form action="/" method="POST" >
        <!--<h5>Mot courant</h5>-->
        <p>Indique ici les lettres <b class="red-text">déjà validées</b> et remplace les lettres non reconnues par un point</p>
        <input type="text" name="attempt" class="red-text" value="{{ request.form['attempt'] }}"/></p>
        <!--<h5>Lettres jaunes</h5>-->
        <p>Indique ici les lettres <b class="orange-text">correctes mais mal placées</b></p>
        <input type="text" class="orange-text" name="yellow" value="{{ request.form['yellow'] }}"/></p>
        <!--<h5>Lettres refusées</h5>-->
        <p>Indique ici les lettres <b class="blue-grey-text">refusées</b></p>
        <input type="text" name="grey" class="blue-grey-text" value="{{ request.form['grey'] }}"/></p>
        <p><input type="submit" value="Envoyer" name="btn_submit"/></p> 

{% if candidates%}
    <h5>Voici les mots possibles:</h5>

    <ul class="collection with-header">
        {% for candidate in candidates %}
            <li class="collection-item">{{ candidate }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if error_message%}
<h5>Aucun mot ne correspond à votre recherche.</h5>
{% endif %}
</div>

<br>
<br>
<br>
<br>
<br>

<!--FOOTER-->
<footer class="page-footer blue-grey">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text"> </h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/devironl/sutom-solver">Github code</a></li>
                    <li><a class="white-text" href="https://www.twitter.com/devironl">Twitter</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/devironl">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>